    * {
        font-family: 'Courier New', Courier, monospace;
        font-size: 10pt;
        background-color: grey;
        color: whitesmoke;

    }
    
    h6{
        font-size: 8pt;
    }

    a {
        text-decoration: none;
        color: wheat;
    }

    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        border-color: wheat;
        background-color: wheat;
    }
